/* TOPMENU BAR ************************************************************************/

.node1 { position: relative; display: inline-block; }

/*
.node2 { position: relative; }
.node3 { position: relative; }
.node4 { position: relative; }
.node5 { position: relative; }
.node6 { position: relative; }
.node7 { position: relative; }
.node8 { position: relative; }
*/

.container1 { position: absolute; display: none; }
.container2 { position: absolute; display: none; }
.container3 { position: absolute; display: none; }

.node1:hover .container1 { position: absolute; display: block; }



.node2:hover .container2 { position: absolute; display: inline; }
.node5:hover .container3 { position: absolute; display: inline; }

.nodelabel
{
    display: inline-block;
    width: 120px;
    height: 100%;
    padding: 4px;
    font-family: "PT Sans Narrow", Arial;
    font-size: 16px;
    color: #0957a2;
    /* color: #000000; */
    background-color: #fac045;
    /* background-color: #ffffff; */
    /* background-color: #ffd320; */
    /* border-top: 1px solid #fbeace; */
    /* border-left: 1px solid #fbeace; */
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-bottom: 0px solid #6f634f;
    border-right: 0px solid #6f634f;
}

.nodelabel  a:link, a:visited
{
    color: #0957a2;
    /* color: #000000; */
}

/**********************************************************************************/

